{% include 'layout.html'%}
{% block content %}

<div class="bg-rosa-claro">
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto ">
                <div class="logo m-3">
                    <div class="col-md-12 text-center">
                       <img src="{{ url_for('static', filename='imgs/logo_bemchique.jpg') }}"  width="100" alt="logotipo" class="rounded-circle my-3">
                    </div>
                    <div class="col-md-12 text-center">
                       <h1 class="h3 font-weight-bold">Registrar Novo Usuário</h1>
                    </div>
                </div>
                <form action="{{url_for('register')}}" method="post" enctype="multipart/form-data" class="form bg-rosa-blush rounded border border-secondary mb-5">
                    <div class="m-3">
                        <div class="form-group my-3">
                            <label for="name"class="form-label small">Nome: </label>
                            <input type="text" class="form-control form-control-sm small" name="name" id="name" placeholder="Informe seu nome" required>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group my-3">
                            <label for="email" class="form-label small">Email: </label>
                            <input type="email" class="form-control form-control-sm small" name="email" id="email" placeholder="Informe seu email" required>
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group my-3">
                            <label for="username" class="form-label small">Username: </label>
                            <input type="text" class="form-control form-control-sm small" name="username" id="username" placeholder="Informe seu nome de usuário" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="m-3">
                                <div class="form-group my-1">
                                    <label for="senha" class="form-label small">Senha: </label>
                                    <input type="password" class="form-control form-control-sm small" name="senha" id="senha" placeholder="Informe sua senha" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="m-3">
                                <div class="form-group my-1">
                                    <label for="confirma-senha" class="form-label small">Confirmação de senha: </label>
                                    <input type="password" class="form-control form-control-sm small" name="confirma-senha" id="confirma-senha" placeholder="Confirme sua senha" required>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="m-3">
                        <div class="form-group mt-4">
                            <small>
                                <p class="text-center">
                                    <input type="submit" value="Adicionar" class="btn btn-primary px-5">
                                </p>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}