{% include 'layout.html' %}
{% block body %}

<div class="bg-rosa-claro">
   <div class="container">
      <div class="row">
         <div class="col-md-5 mx-auto ">
            <div id="first">
               <div class="form bg-rosa-blush rounded border border-secondary mb-5">
                  <div class="logo m-3">
                     <div class="col-md-12 text-center">
                        <img src="{{ url_for('static', filename='imgs/logo_bemchique.jpg') }}"  width="150" alt="" class="rounded-circle my-3">
                     </div>
                     <div class="col-md-12 text-center">
                        <h1 class="h3 font-weight-bold">Acessar Sistema</h1>
                     </div>
                  </div>
                  <form action="{{url_for('sistemas')}}" method="POST" name="login" enctype="multipart/form-data">
                     <div class="m-3">
                        <div class="form-group">
                           <label for="login-email" class="form-label">Email</label>
                           <input type="email" name="login-email" class="form-control" id="login-email" placeholder="Informe seu Email">
                        </div>
                     </div>
                     <div class="m-3">
                        <div class="form-group">
                           <label for="login-senha" class="form-label">Senha</label>
                           <input type="password" name="login-senha" id="login-senha"  class="form-control" placeholder="Informe sua senha">
                        </div>
                     </div>
                     <div class="m-3">
                        <div class="col-md-12 text-center mt-4">
                           <input type="submit" class="btn btn-block btn-primary tx-tfm" value="Login"/>
                        </div>
                     </div>
                     <div class="m-3">
                        <div class="form-group mt-4">
                           <small>
                              <p class="text-center">Não possui Cadastro? <a href="/sistema/register">Cadastre-se</a></p>
                              <p class="text-center"><a class="text-danger" href="#" data-toggle="modal" data-target="#modalRecuperar">Deseja recuperar a senha?</a> ou <a href="{{url_for('home')}}"> Deseja Sair </a> </p>
                           </small>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>  
</div>
<!-- Modal -->
<div class="modal fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastre-se</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action="{{url_for('register')}}" method="post" enctype="multipart/form-data">
               <div class="form-group">
                  <label for="nome">Nome Completo</label>
                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o seu Nome e Sobrenome">
               </div>
               <div class="form-group">
                  <label for="cad-user-email">Email</label>
                  <input type="email" class="form-control" id="cad-user-email" name="cad-user-email" placeholder="Seu Email">
               </div>
               <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Informe seu CPF">
               </div>
               <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Informe seu nome de usuário">
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        <label for="confirma_senha">Confirmar Senha</label>
                        <input type="password" class="form-control" id="confirma_senha" name="confirma_senha" placeholder="Confirme sua Senha">
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="Fechar"/>
                  <input type="submit" class="btn btn-primary" value="Cadastrar"/>
               </div>
            </form>
            
         </div>
      </div>
   </div>
</div>

<!-- Modal Recuperar -->
<div class="modal fade" id="modalRecuperar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Recuperar Senha</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form action="add_user" method="post" enctype="multipart/form-data">
               <div class="form-group">
                  <label for="rec-email">Email</label>
                  <input type="email" class="form-control" id="rec-email" name="rec-email" placeholder="Seu Email">
               </div>
               <div class="modal-footer">
                  <input type="submit" class="btn btn-secondary" value="Fechar">
                  <input type="submit" class="btn btn-primary" value="Recuperar">
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% include 'rodape.html' %}