{% include 'layout.html' %}


<section class="jumbotron bg-transparent">
    <main class="rounded text-body-emphasis bg-rosa-claro">
        <div class="container">
            <article>
                <h3 class="h3 display-4 text-center pt-5"> Conheça a Loja Bem Chique </h3>
    
                <div class="jumbotrom bg-rosa-blush m-5 p-2">
                    <h4 class="font-weight-bold">Quem Somos</h4>
                    <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias veniam culpa necessitatibus accusantium enim et sed cupiditate corrupti, ullam cum. Sed magni reiciendis voluptas dignissimos dolorum necessitatibus minus eius corrupti.</p>
                </div>
                <div class="jumbotrom bg-rosa-blush m-5 p-2">
                    <h4 class="font-weight-bold">Objetivos</h4>
                    <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cupiditate placeat ullam! Perspiciatis corrupti nulla voluptas ullam maiores nihil dolorem exercitationem iusto quidem deserunt accusamus ipsum ut, laboriosam dolorum debitis.</p>
                </div>
                <div class="jumbotrom bg-rosa-blush m-5 p-2">
                    <h4 class="font-weight-bold">Público-Alvo</h4>
                    <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cupiditate placeat ullam! Perspiciatis corrupti nulla voluptas ullam maiores nihil dolorem exercitationem iusto quidem deserunt accusamus ipsum ut, laboriosam dolorum debitis.</p>
                </div>
                <div class="jumbotrom bg-rosa-blush m-5 p-2">
                    <h4 class="font-weight-bold">Nossa Missão</h4>
                    <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cupiditate placeat ullam! Perspiciatis corrupti nulla voluptas ullam maiores nihil dolorem exercitationem iusto quidem deserunt accusamus ipsum ut, laboriosam dolorum debitis.</p>
                </div>
                <div class="jumbotrom bg-rosa-blush m-5 p-2">
                    <h4 class="font-weight-bold">Nossa Visão</h4>
                    <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cupiditate placeat ullam! Perspiciatis corrupti nulla voluptas ullam maiores nihil dolorem exercitationem iusto quidem deserunt accusamus ipsum ut, laboriosam dolorum debitis.</p>
                </div>
                <div class="jumbotrom bg-rosa-blush m-5 p-2">
                    <h4 class="font-weight-bold">Nossos Valores</h4>
                    <p class="py-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cupiditate placeat ullam! Perspiciatis corrupti nulla voluptas ullam maiores nihil dolorem exercitationem iusto quidem deserunt accusamus ipsum ut, laboriosam dolorum debitis.</p>
                </div>
    
                <div class="card border-0 bg-transparent mx-auto d-block" style="width: 15rem;">
                    <figure width="auto">
                        <img class="rounded-circle" src="{{url_for('static', filename='imgs/bg-bemchique.jpeg')}}" alt="Rayssa Soares - Proprietária da Loja Bem Chique" width="120" height="120">
                        <blockquote class="blockquote">
                            <p>Rayssa Soares, 21 </p>
                        </blockquote>
                        <figcaption class="blockquote font-weight-bold text-center"> 
                            <small>
                                <cite class="fst-italic" title="CEO Bem Chique">Proprietária</cite>
                            </small>
                        </figcaption>
                    </figure>
                </div>
            </article>
        </div>
    
    </main>
</section>

{% include 'rodape.html' %}