<div class="modal fade" id="ModalProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Produto</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="" id="form-produto" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label >Nome</label>
                        <input value="<?php echo @$nome_usu ?>" type="text" class="form-control" id="nome-usuario" name="nome-usuario" placeholder="Nome">
                    </div>
                    <div class="form-group">
                        <label >CPF</label>
                        <input value="<?php echo @$cpf_usu ?>" type="text" class="form-control" id="cpf-usuario" name="cpf-usuario" placeholder="CPF">
                    </div>
                    <div class="form-group">
                        <label >Email</label>
                        <input value="<?php echo @$email_usu ?>" type="email" class="form-control" id="email-usuario" name="email-usuario" placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label >Senha</label>
                                <input value="" type="password" class="form-control" id="senha" name="senha" placeholder="Senha">
                            </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                <label >Confirmar Senha</label>
                                <input value="" type="password" class="form-control" id="conf-senha" name="conf-senha" placeholder="Senha">
                            </div>
                        </div>
                    </div>
                    <small>
                        <div id="mensagem-perfil" class="mr-4">

                        </div>
                    </small>
                </div>
                <div class="modal-footer">
                    <input value="<?php echo $_SESSION['id_usuario'] ?>" type="hidden" name="txtid" id="txtid">
                    <input value="<?php echo $_SESSION['cpf_usuario'] ?>" type="hidden" name="antigo" id="antigo">
                    <button type="button" id="btn-fechar-perfil" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" name="btn-salvar-perfil" id="btn-salvar-perfil" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>