<div class="container-fluid bg-rosa-blush mb-5" >
    <div class="container">
        <div class="row bg-rosa-blush">
            <div class="col-lg-3">
                <div class="header__logo d-flex mx-auto align-items-center justify-content-center">
                    <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='imgs/logo_bemchique.jpg') }}"  width="120" alt="" class="rounded-circle"></a>
                </div>
            </div>
            <div class="col-lg-6 align-items-center d-flex justify-content-center">
                <nav class="navbar navbar-expand-lg bg-transparent header__menu">
                    <ul>
                        <li class="active"><a href="{{url_for('home')}}">Início</a></li>
                        <li><a href="{{url_for('sobre')}}">Sobre</a></li>
                        <li><a href="#">Produtos</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="{{url_for('lista_produtos')}}">Todos Produtos</a></li>
                                <li><a href="{{url_for('mais_vendidos')}}">Mais Vendidos</a></li>
                                <li><a href="{{url_for('promotions')}}">Promoções</a></li>
                                <li><a href="{{url_for('combos')}}">Combos</a></li>
                                <li><a href="{{url_for('novidades')}}">Novidades</a></li>
                            </ul>
                        </li>
                        <li><a href="{{url_for('blog')}}">Blog</a></li>
                    
                        <li><a href="{{url_for('contatos')}}">Contatos</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="{{url_for('carrinho')}}"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <div class="header__cart__price">item: <span>R$150,00</span></div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
    
</div>