<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Venda de Roupas Feminina">
        <meta name="keywords" content="roupas femininas">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css')}}" type="text/css" media="all">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/font-awesome.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/elegant-icons.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/nice-select.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/jquery-ui.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/owl.carousel.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/slicknav.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='/imgs/logotipo/Simbolo-rose.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='/imgs/logotipo/Simbolo-rose.png') }}" type="image/x-icon">
        
        <title>Bem Chique | {{ title }}</title>
    </head>
    <body>
        <header class="header bg-rosa-blush">
            <div class="header__top bg-rosa-claro">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> {{ email }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="container-fluid pt-3">
                                {% with messages=get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                        {% for category, message in messages %}
                                            <div class="alert alert-{{category}} small">{{message}}</div>
                                        {% endfor %}
                                    {% else %}
                                        <ul class="list-unstyled">
                                            <li class="fs-produto-destaque"><i class="fa fa-message"></i>{{ texto_destaque }}</li>
                                        </ul>
                                    {% endif %}  
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="header__top__right">
                                <div class="header__top__right__social">
                                   <a target="_blank" title="Ir para página do Facebook" href="#"><i class="fa fa-facebook"></i></a>
                                   <a target="_blank" title="Ir para página do Instagram" href="{{ instagram_link }}"><i class="fa fa-instagram"></i></a>
                                   <a target="_blank" title="Enviar mensagem pelo whatsapp" href="http://api.whatsapp.com/send?1=pt_BR&phone={{ whatsapp_link }}" title="{{whatsapp}}"><i class="fa fa-whatsapp text-success"></i></a>
                               </div>
    
                               <div class="header__top__right__auth">
                                <a href="{{url_for('sistemas')}}"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        </header>

        <div class="container-fluid">
            <div class="content-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>