{% extends 'layout.html' %}
{% block content %}
<h3 class="h3-display-6 my-3"> Painel Administrativo </h3>
<div class="container-fluid">
    <div class="row">
            <div class="my-5">
                <nav class="nav nav-pills justify-content-center">
                    <a class="nav-link" aria-current="page" href="{{url_for('/sistema/painel/manager', user_id=user.id) }}" onclick="loadContent('Home Content')"><span>Home</span></a>
                    <a class="nav-link" href="#" onclick="loadContent('Settings Content')"><span>Configurações</span></a>
                    <a class="nav-link" href="#" onclick="loadContent('Cadastros Content')"><span>Cadastros</span></a>
                    <a class="nav-link" href="/#modalNovoProduto" onclick="loadContent('Produtos Content')"><span>Produtos</span></button>
                    <a class="nav-link" href="#modalCategorias" id="carregarModalCategorias" onclick="loadContent('Category Content')"><span>Categorias</span></a>
                    <a class="nav-link" href="#modalCombos" id="carregarModalCombos" onclick="loadContent('Combos Content')"><span>Combos</span></a>
                    <a class="nav-link" href="#modalPromocoes" id="carregarModalPromocoes"  onclick="loadContent('Promoções Content')"><span>Promoções</span></a>
                    <a class="nav-link" href="#collapseConsultas" aria-expanded="true" onclick="loadContent('Consultas Content')"><span>Consultas</span></a>
                    <a class="nav-link" href="#" onclick="loadContent('Clientes Content')"><span>Clientes</span></a>
                    <a class="nav-link" href="#" onclick="loadContent('Vendas Content')"><span>Vendas</span></a>
                </nav>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="content" class="d-flex flex-column col col-sm-12 my-2">
        </div>
    </div>
</div>
<div class="modal fade" id="modalNovoProduto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> Cadastrar Novo Produto</h4>
                <button type="button" class="close btn btn-danger" data-dimiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="modalContent"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-btn-secondary" data-dimiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<script>
    
    function loadContent(url){
        $.ajax({
            url:url,
            method:"GET",
            success: function(response) {
                document.getElementById("content").innerHTML = response;
            },

            error: function(){
                document.getElementById("content").innerHTML ="Erro ao carregar o conteúdo da página";
            }
        });
        // Coloca o conteúdo na div de destino
        // document.getElementById("content").innerHTML = content;
    }
</script>
{% endblock %}
